@{
    ViewBag.Title = "Index";
}

<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Scripts/jqGrid/css/jquery-ui.custom.min.css" rel="stylesheet" />
@*<link href="~/Content/ui.jqgrid-bootstarp.css" rel="stylesheet" />*@
<script src="~/Scripts/jqGrid/js/jquery.jqGrid.src.js"></script>
<script src="~/Scripts/jqGrid/js/jquery-ui-custom.min.js"></script>
<script src="~/Scripts/jqGrid/js/i18n/grid.locale-cn.js"></script>
<link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.zh-CN.min.js"></script>
<style>
    .grid input, .grid button, .grid select, .grid textarea {
        color: black;
    }

    .form-control {
        border-width: 1px !important;
        height: 32px;
    }

    .ui-pg-input {
        height: 18px !important;
    }
</style>
<h2>Index</h2>
<div id="filters">
    <div class="form-group ">
        <div class="row">
            <div class="col-md-3">
                <label class="control-label col-md-5">客户名称：</label>
                <div class="col-md-7">
                    <input id="customerName" class="form-control" type="text" />

                </div>

            </div>
            <div class="col-md-3">
                <label class="control-label col-md-5">产品：</label>
                <div class="col-md-7">
                    <input id="productionName" class="form-control" type="text" />

                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-3">起止时间：</label>
                <div class="col-md-8">
                    <div class="input-daterange input-group" id="datepicker">
                        <input id="start" type="text" class="input-sm form-control" name="start" />
                        <span class="input-group-addon">to</span>
                        <input id="end" type="text" class="input-sm form-control" name="end" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label class="control-label col-md-5">司机姓名：</label>
                <div class="col-md-7">
                    <input id="driverName" class="form-control" type="text" required />

                </div>

            </div>

            <div class="col-md-8">
                <button class="btn btn-success btn-sm col-md-2" onclick="querySaleHistory();">查询</button>

                <label class="control-label col-md-3" style="display: inline">分组：</label>
                <select id="chngroup" class=" form-control col-md-4" style="padding: 0;">
                    <option value="CustomerName" selected="selected">客户</option>
                    <option value="ProductionName">产品</option>
                    <option value="DriverName">司机</option>
                    <option value="clear" selected="selected">取消分组</option>
                </select>

            </div>

            @*<div class="form-group col-md-4">
                    <label class="control-label col-md-4">客户名称：</label>
                    <div class="col-md-8">
                        <input id="CreatedTime" class="form-control" name="CreatedTime" ng-model="data.CreatedTime" type="text" required />

                    </div>

                </div>*@
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="grid">
        <table id="saleGrid"></table>
        <div id="saleGridPager"></div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        $('.input-daterange').datepicker({
            autoclose: true,
            todayHighlight: true,
            language: "zh-CN",
            calendarWeeks: true,
        });

        $("#saleGrid").jqGrid({
            url: '@Url.Action("GetSaleData")',
            autowidth: true,
            shrinkToFit: true,
            mtype: 'Post',
            datatype: 'json',
            //colNames: ['Id', '时间', '客户', '产品', '司机', '吨位', '单价','应付金额','已付金额','下欠金额','实收运费单价','应付运费金额','已付运费金额','下欠应付运费金额','备注'],
            colModel: [
                {
                    name: 'Id', label: '序号', key: true, width: 50, formatter: function (cell, options, rec) {
                        return '<div style="text-align:center;"><a href="/Sale/Edit/' + cell + '" >编辑</a></div>';
                    }
                },
                { name: "CreatedTime", label: '时间', width: 70 },
                { name: 'CustomerName', label: '客户', width: 75 },
                { name: "ProductionName", label: '产品', width: 70 },
                { name: 'DriverName', label: '司机', width: 75 },
                { name: 'SendWeight', label: '出厂吨位', width: 75, summaryType: 'sum' },
                { name: 'ReceiveWeight', label: '实收吨位', width: 75, summaryType: 'sum' },
                { name: 'ReceiveUnitPrice', label: '实收单价', width: 75 },
                { name: 'TransferUnitPriceInContract', label: '合同运费单价', width: 75 },
                { name: 'ShouldPaidAmount', label: '应收金额', width: 75, summaryType: 'sum' },
                { name: 'PaidAmount', label: '实收金额', width: 75, summaryType: 'sum' },
                { name: 'NotPaidAmount', label: '下欠金额', width: 75, summaryType: 'sum', },
                { name: 'ReceiveTransferUnitPrice', label: '实收运费单价', width: 75 },
                { name: 'ShouldPaidTransferAmount', label: '应付运费金额', width: 75, summaryType: 'sum' },
                { name: 'PaidTransferReceiveAmount', label: '已付运费金额', width: 75, summaryType: 'sum' },
                { name: 'NotPaidTransferAmount', label: '下欠应付运费金额', width: 75, summaryType: 'sum' },
                { name: 'Remark', label: '备注', width: 75 },
            ],
            postData: {
                customerName: function () { return $("#customerName").val(); },
                productionName: function () { return $("#productionName").val(); },
                driverName: function () { return $("#driverName").val(); },
                startDate: function () { return $("#start").val(); },
                endDate: function () { return $("#end").val(); },

            },

            viewrecords: true,
            //width: 1000,
            sortname: 'Id',
            height: 500,
            rowNum: 20,
            rowList: [20, 50, 100, 500],
            pager: "#saleGridPager",
            //caption: '1',
            grouping: false,
            groupingView: {
                groupField: ["CustomerName"],
                groupColumnShow: [true],
                //groupText: ["<b>{0}</b>"],
                groupText: ["<b class='firstGroupValue'>{0}</b>", "<span class='secondGroupValue'>{0}</span>"],
                groupOrder: ["asc"],
                groupSummary: [true],
                groupSummaryPos: ['footer', 'header'],
                groupCollapse: false
            },
        });

        $("#chngroup").change(function () {
            groupLog();
        });
    });


    function getFilters() {
        var filters = {};
        filters.customerName = $("#customerName").val();
        filters.productionName = $("#productionName").val();
        filters.driverName = $("#driverName").val();
        filters.startDate = $("#start").val();
        filters.endDate = $("#end").val();
        console.log(filters);
        return filters;
    }

    function querySaleHistory() {
        //loadData();
        $("#saleGrid").trigger('reloadGrid');
    }

    function groupLog() {
        var groupFilter = $("#chngroup").val();
        console.log(groupFilter);
        if (groupFilter != "clear") {
            $("#saleGrid").jqGrid('groupingGroupBy', groupFilter);
        }
        else {
            $("#saleGrid").jqGrid('groupingRemove', true);
        }
    };

</script>